body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #deeeee;
}
#word {
  font-size: 24px;
  margin-bottom: 20px;
}
#guesses {
  margin-top: 20px;
}
#message {
  font-size: 18px;
  margin-top: 20px;
}
#hangman-image {
  max-width: 300px;
  margin: 20px auto;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 300px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
}

.button {
  padding: 5px 10px; /* Adjust button size */
  border: 2px solid black;
  background-color: pink;
  opacity: 0.9;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.3);
} 
h1 {
  color: pink;
}
.green-text {
  color: green;
}
.red-text {
  color: red;
}
